.page {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas: "myInfo navigationBar" "myInfo articleList";
  height: 100vh;
  width: 100vw;
  /* background-image: url('../../public/sky.jpg'); */
}

.navigationBar {
  grid-area: navigationBar;
  padding: 10px;
  
}

.articleList {
  grid-area: articleList;
  padding: 10px;
}

.myInfo {
  grid-area: myInfo;
  padding: 10px;
}

@media (max-width: 600px) {
  .page {
    grid-template-rows: 80px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "navigationBar" "articleList";
  }
  .myInfo{
    display: none;
  }
}