.articleItem {
  border: 1px solid black;
  margin: 5px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100px;
  margin-top: 5px;
}

.myInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px
}


.headerInfo {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.myLink {
    margin-left: 10px;
}