.HomeLayout {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 60px 1fr;
  background-color: skyblue;
  grid-template-areas: "info header" "info articles";
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.HomeHeader {
  grid-area: header;
  background-color: aliceblue;
  padding: 10px;
}

.headerContainer {
  border: 2px solid black;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.HomeInfo {
  grid-area: info;
  background-color: beige;
  padding: 10px;
}

.InfoContainer {
  border: 2px solid black;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.HomeArticles {
  grid-area: articles;
  background-color: azure;
  padding: 10px;
}

.mainContainer {
  border: 2px solid black;
  border-radius: 10px;
  height: calc(100vh - 84px);
  width: 100%;
  overflow: auto
}

@media screen and (max-width: 780px) {
  .HomeLayout {
    grid-template-columns: 100vw;
    grid-template-rows: 100px 100vh;
    grid-template-areas: "header" "articles";
    height: 100vh + 100px;
    width: 100vw;
  }
  .HomeInfo {
    display: none;
  }
}
