.HomePage {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 60px 1fr;
  background-color: skyblue;
  grid-template-areas: "side_info header" "side_info arctic_list";
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.SideInfo {
  background-color: #8eb814;
  grid-area: side_info;
}

.ArcticList {
  background-color: aquamarine;
  grid-area: arctic_list;
}

.Header {
  grid-area: header;
}

@media screen and (max-width: 780px){
  .HomePage {
    grid-template-columns: 100vw;
    grid-template-rows: 100px 100vh 100vh;
    grid-template-areas: "header" "side_info" "arctic_list";
    height: 200vh + 100px;
    width: 100vw;
  }
}
