.mdxContainer {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas: "articleInfo navBar" "articleInfo article";
  height: 100vh;
  width: 100vw;
}

.navBar {
  grid-area: navBar;
  padding: 10px;
  background-color: aquamarine;
}

.article {
  grid-area: article;
  padding: 10px;
  background-color: aquamarine;
}

.articleInfo {
  grid-area: articleInfo;
  padding: 10px;
  background-color: aquamarine;
}

@media (max-width: 600px) {
  .mdxContainer {
    grid-template-rows: 80px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "navBar" "article";
  }
  .articleInfo{
    display: none;
  }
}

